<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623967559694-0i6ts1eggsb0m7e09anehie1771qh4db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623967559694-0i6ts1eggsb0m7e09anehie1771qh4db</string>
	<key>API_KEY</key>
	<string>AIzaSyB_oD4QJJJgDaxDtXgJ1KeU-Ddaf7PQF4E</string>
	<key>GCM_SENDER_ID</key>
	<string>623967559694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ItsClients</string>
	<key>PROJECT_ID</key>
	<string>it-is-on-the-way</string>
	<key>STORAGE_BUCKET</key>
	<string>it-is-on-the-way.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623967559694:ios:cab590424721cd9c2d9c5f</string>
	<key>DATABASE_URL</key>
	<string>https://it-is-on-the-way.firebaseio.com</string>
</dict>
</plist>